<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TPR_ExampleView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <TPR_ExampleView.Properties.Settings>
            <setting name="ShowAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExplorerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveNewImageToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveImageDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFileNameMask" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFileFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveFileReplace" serializeAs="String">
                <value>False</value>
            </setting>
        </TPR_ExampleView.Properties.Settings>
    </userSettings>
</configuration>
